/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login_form {
  position: relative;
  margin-inline: 24px;
  background-color: hsla(0, 0%, 100%, .01);
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding: 2.5rem 1rem;
  color: var(--white-color);
  border-radius: 16px;
  backdrop-filter: blur(16px);
}

.login_title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 20px;
}

.login_inputs, 
.login_box {
  display: grid;
}

.login_inputs {
  row-gap: 20px;
  margin-bottom: 16px;
}

.login_box {
  grid-template-columns: 1fr max-content;
  column-gap: 12px;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 20px;
  border-radius: 25px;
  /* 64px */
}

.login_input, 
.login_button {
  border: none;
  outline: none;
}

.login_input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 16px;
}

.login_input::placeholder {
  color: var(--white-color);
}

.login_box i {
  font-size: 20px;
}

.login_check, 
.login_checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_check {
  padding-bottom: 10px;
  margin-bottom: 16px;
  font-size: var(--small-font-size);
}

.login_checkbox {
  column-gap: 8px;
}

.login_check-input {
  width: 16px;
  height: 16px;
  accent-color: var(--white-color);
}

.login_forgot {
  color: var(--white-color);
}

.login_forgot:hover {
  text-decoration: underline;
  color: var(--black-color);
}

.login_button {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: var(--white-color);
  border-radius: 64px;
  color: var(--black-color);
  font-weight: 500;
  cursor: pointer;
  transition: all 250ms ease;
}

.login_button:hover {
  color: blueviolet;
}

.login_register {
  font-size: var(--small-font-size);
  text-align: center;
  padding-top: 10px;
}

.login_register a {
  color: var(--white-color);
  font-weight: 500;
}

.login_register a:hover {
  text-decoration: underline;
  color: var(--black-color);
}

/* BREAKPOINTS */
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login_form {
    width: 420px;
    padding-inline: 40px;
  }
  .login_title {
    margin-bottom: 32px;
  }
}